* {
    padding: 0px;
    margin: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main h1 {
    color: white;
    font-weight: 500;
    font-size: 70px;
}

.cursor {
    width: 75px;
    height: 75px;
    background-color: rgb(255, 254, 254);
    border-radius: 50%;
    position: absolute;
    transition: all linear 0s;
    mix-blend-mode: difference;
}