* {
    padding: 0px;
    margin: 0px;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    height: 400px;
    width: 300px;
    background-color: aquamarine;
    border-radius: 10px;
}

#container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#container i {
    color: whitesmoke;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform ease 2s;
}